h1, h2, h3, p {
  text-align: center;
}

h1 {
  font-size: 18px;
}

p {
  margin-top: 2px;
  margin-bottom: 4px;
}

ul {
  list-style-type: none;
  padding: 8px;
  font-style: italic;
}

h3 {
  transform: skewX(-5deg) skewY(-5deg);
  background-color: white;
}
