header h1 {
  border: 5px groove red;
}

article div {
  color: red;
  border: 5px dashed red;
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Safari */
  transform: rotate(30deg);
  border-radius: 18px;
}

article h2 {
  color: red;
  border: 5px solid blue;
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Safari */
  transform: rotate(30deg);
}

footer div {
  color: red;
  text-align: center;
  border: 5px solid green;
  -ms-transform: rotate(190deg); /* IE 9 */
  -webkit-transform: rotate(190deg); /* Safari */
  transform: rotate(190deg);
}

header div {
  float: center;
  display: inline-block;
  width: 24.5%;
  text-align: center;
  background-color: rgba(255, 180, 180, 0.3);
}

main div {
  display: inline;
  padding: 10px;
  /*float: center;
  width: 24.5%;*/
}

main article {
  float: right;
}

main aside {
  float: left;
}

section article {
  flex:1;
}

section aside {
  width: 10px;
  flex:1;
}

#finale {
  padding: 0px;
  background-color: lightgrey;
  width: 100%;
}

#finale aside, #finale article {
  float: left;
  color: green;
  height: 60px;
}

#cloture {
  clear: both;
}

#gagnant {
  color: darkviolet;
  text-align: center;
  font-size: 1.2em;
  border: 3px inset lightblue;
  -ms-transform: matrix(-0.7,0.2,-0.2,1,-0.3,0.7); /* IE 9 */
  -webkit-transform: matrix(-0.7,0.2,-0.2,1,-0.3,0.7); /* Safari */
  transform: matrix(-0.7,0.2,-0.2,1,-0.3,0.7);
}
